<section class="cena">
    <div class="cena__wrapper">
        <h1 class="cena__h1">W cenę wchodzi</h1>
        <div class="cena__logo-wrapper">
            <img src="./../../assets/images/main-page/LogoMakowyDom.png" alt="Logo Makowy Dom" class="cena__logo-wrapper--logo">
        </div>
        <div class="cena__osoby">
            <div class="cena__osoby--icon">
                <img src="./../../assets/images/icons/big/user.png" alt="">
                <img src="./../../assets/images/icons/big/user.png" alt="">
                <img src="./../../assets/images/icons/big/user.png" alt="">
                <img src="./../../assets/images/icons/big/user.png" alt="">
            </div>
            <p class="cena__osoby--text">Prywatny 4-osobowy apartament</p>
        </div>
        <hr class="cena__hr">
        <div class="cena__aparament">
            <ul class="cena__info-list">
                <li class="cena__info-item">
                    <div class="cena__info-item">
                        <img src="./../../assets/images/icons/big/kitchen.png" alt="">
                        <p class="cena__info-item--text">Kuchnia</p>
                    </div>
                </li>
                <li class="cena__info-item">
                    <img src="./../../assets/images/icons/big/bed.png" alt="">
                    <p class="cena__info-item--text">Pokój</p>
                </li>
                <li class="cena__info-item">
                    <img src="./../../assets/images/icons/big/shower.png" alt="">
                    <p class="cena__info-item--text">Łazienka</p>
                </li>
                <li class="cena__info-item">
                    <img src="./../../assets/images/icons/big/balcony.png" alt="">
                    <p class="cena__info-item--text">Balkon</p>
                </li>
                <li class="cena__info-item">
                    <img src="./../../assets/images/icons/big/wifiNew.png" alt="">
                    <p class="cena__info-item--text">Wifi</p>
                </li>
            </ul>
        </div>
        <hr class="cena__hr">
        <h1 class="cena__h1">Relaks</h1>
        <hr class="cena__hr">
        <div class="cena__atrakcje">
            <ul class="cena__info-list">
                <li class="cena__info-item">
                    <div class="cena__info-item">
                        <img src="./../../assets/images/icons/big/fire.png" alt="">
                        <p class="cena__info-item--text">Grill</p>
                    </div>
                </li>
                <li class="cena__info-item">
                    <img src="./../../assets/images/icons/big/backgammon.png" alt="">
                    <p class="cena__info-item--text">Gry planszowe</p>
                </li>
                <li class="cena__info-item">
                    <img src="./../../assets/images/icons/big/washing-machine.png" alt="">
                    <p class="cena__info-item--text">Pralka</p>
                </li>
            </ul>
        </div>
        <hr class="cena__hr">
        <h1 class="cena__h1">Dobra zabawa</h1>
        <hr class="cena__hr">
        <div class="cena__caly-apartament">
            <h1 class="cena__h1">
                Cena za cały apartament
            </h1>
            <br>
            <h2 class="cena__h2">
                200zł/noc
                <br>
            </h2>
            <h3 class="cena__h3">nie zależnie od ilości osób</h3>
            <hr class="cena__hr">
            <h1 class="cena__h2">
                Przy grupie 4 osobwowej <br>
                to jedyne <br> <br>
                <span class="cena__h1"> <span class="cena__50">
                        50zł/noc 
                </span>
                    
                    <br> od osoby!</span>
                
            </h1>
        </div>
    </div>

</section>