@import "../../../sharedScss/variables";
@import "../../../sharedScss/mixins";

.call-to-action-mail {
    background-image: gradient-white;;
    height: $section-break;
    position: relative;
    color: $color-text;

    &__info {
        @include center;
        font-weight: bold;
        border-bottom: $my-border-bottom;


        &--write{
            font-size: 3rem;
            transform: translateY(2rem);
            @include respond(tab-port) { // width < 1200?
                font-size: 2rem;
                transform: translateY(1.4rem);
            }
            @include respond(phone) { // width < 1200?
                transform: translateY(.1rem);
            }
            
        }

        &--email{
            font-size: 6rem;
            @include respond(tab-port) { // width < 1200?
                font-size: 5rem;
            }
            @include respond(phone) { // width < 1200?
                font-size: 2.7rem;
            }
        }

        &--wait{
            font-size: 2rem;
            text-align: right;
            transform: translateY(-1rem);
            @include respond(phone) { // width < 1200?
                transform: translateY(-.1rem);
            }
        }
    }
}
