<section class="footer">
    <div class="footer__grid">
        <div class="footer__grid--column">
            <h4 class="footer__heading">Kontakt</h4>
            <ul class="footer__list">
                <li class="footer__list--item">Czekamy na Ciebie</li>
                <li class="footer__list--item">Skontaktuj się</li>
                <li class="footer__list--item">512-712-825</li>
                <li class="footer__list--item">makowy.dom@gmail.com</li>
            </ul>
        </div>
        <div class="footer__grid--column">
            <h4 class="footer__heading">Adres</h4>
            <ul class="footer__list">
                <li class="footer__list--item">Limanowa, Koszary 20</li>
                <li class="footer__list--item"> <a href="https://www.google.com/maps/d/u/1/viewer?mid=1aFSmh2QAKUkcEbP-N7fztGrHorIXSEFF&ll=49.73350610000001%2C20.364394400000037&z=17"><u>Znajdź nas w mapach Google:</u></a> </li>
                <li class="footer__list--item"> <a href="https://www.google.com/maps/d/u/1/viewer?mid=1aFSmh2QAKUkcEbP-N7fztGrHorIXSEFF&ll=49.73350610000001%2C20.364394400000037&z=17"><u>Limanowa, Koszary 85</u></a> </li>
                <li class="footer__list--item">(u nas taki spokój że nawet Google nie przeszkadza)</li>
            </ul>
        </div>
        <div class="footer__grid--column">
            <img src="assets/images/main-page/LogoMakowyDom.png" alt="" class="footer__logo">
        </div>
        <div class="footer__grid--column">
            <div class="footer__social-wrapper">
                <h2 class="footer__heading">Media społecznościowe</h2>
                <a href="https://www.facebook.com/makowydom"><img src="assets/images/icons/big/facebook-logo.png" alt="" class="footer__img"></a>
                <a href="https://www.instagram.com/makowydom/"><img src="assets/images/icons/big/instagram-logo.png" alt="" class="footer__img"></a>
            </div>

        </div>
    </div>
</section>