<section class="footer">
    <div class="footer__grid">
        <div class="footer__grid--column">
            <h4 class="footer__heading">Kontakt</h4>
            <ul class="footer__list">
                <li class="footer__list--item">Czekamy na Ciebie</li>
                <li class="footer__list--item">Skontaktuj się</li>
                <li class="footer__list--item">512-712-825</li>
                <li class="footer__list--item">makowydom@gmail.com</li>
            </ul>
        </div>
        <div class="footer__grid--column">
            <h4 class="footer__heading">Adres</h4>
            <ul class="footer__list">
                <li class="footer__list--item">Limanowa, Koszary 20</li>
                <li class="footer__list--item"> <u>Znajdź nas w mapach Google:</u> </li>
                <li class="footer__list--item"> <u>Limanowa, Koszary 85</u> </li>
                <li class="footer__list--item">(u nas taki spokój że nawet Google nie przeszkadza)</li>
            </ul>
        </div>
        <div class="footer__grid--column">
            <img src="./../../assets/images/1.png" alt="" class="footer__logo">
        </div>
        <div class="footer__grid--column">
            <div class="footer__social-wrapper">
                <h2 class="footer__heading">Media społecznościowe</h2>
                <a href=""><img src="../../assets/images/facebook-logo.png" alt="" class="footer__img"></a>
                <a href=""><img src="../../assets/images/instagram-logo.png" alt="" class="footer__img"></a>
            </div>

        </div>
    </div>
</section>