@import "../../../sharedScss/variables";
@import "../../../sharedScss/mixins";

.button {
    height: 6rem;
    width: 24rem;
    position: relative;
    display: inline-block;
    @include boxShadow;
    // background-color: $color-primary-dark-1;
    // color: $color-secondary;
    transition: all .5s;

    &:hover{
        transform: scale(1.05) translateY(-3px);
        @include boxShadowHover;
    }

    &:active,
    &:focus {
        transform: translateY(1px);
    }

    &__link {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-decoration: none;
        font-size: 3rem;
        font-weight: bold;

    }

    &__parent {
        text-align: center;
    }
}

.btn-dark {
    background-color: $color-text;
    color: $color-secondary;
}

.btn-white {
    background-color: $color-secondary;
    color: $color-primary-dark-1;
}