@import "../../../sharedScss/variables";
@import "./../../../sharedScss/mixins";

%miejsce-basic {
  height: 90vh;
  @include respond(tab-land) { // width < 1200?
    &:first-child{
      height: 95vh;
    }
  } 
  position: relative;
  display: flex;
  padding: 5rem;
  @include respond(phone) { // width < 1200?
    padding: 5rem 1rem;
  }
  color: $color-text;
  .miejsce--zdjecie {
    width: 60%;
    height: 100%;
    @include respond(tab-port) { // width < 1200?
      width: 40%;
    }
    background-size: cover;
    background-position: center;
    box-shadow: $my-box-shadow;
  }

  .miejsce--opis {
    width: 40%;
    @include respond(tab-port) { // width < 1200?
       width: 60%;
    }
    height: 100%;
    position: relative;
    border-bottom: $my-border-bottom;
    margin: 0px 1rem;
    .miejsce--opis-wrapper {
      position: absolute;
      @include center;
      width: 90%;
      text-align: center;
    }
    .miejsce--opis-h1 {
      font-size: $heading-h1-big;
      margin-bottom: 2rem;
    }
    .miejsce--opis-p {
      font-size: $heading-h2;
      text-align: justify;
      @include respond(phone) { // width < 1200?
        font-size: 1.5rem;
     }
    }

    .miejsce--opis-icona {
      margin-top: 2rem;
      img {
        width: 9.5rem;
      }
      p {
        font-size: 1.5rem;
        transform: translateY(-3rem);
      }
    }
  }
}

.miejsce {
  @extend %miejsce-basic;
  @include respond(tab-land) { // width < 1200?
    &:first-child{
      padding-top: 8rem;
    }
  }

}

.miejsce-right {
    @extend %miejsce-basic;
    flex-direction: row-reverse;
  }
