@import "../../../sharedScss/variables";
@import "./../../../sharedScss/mixins";

%miejsce-basic {
  height: 90vh;
  position: relative;
  display: flex;
  padding: 5rem;
  color: $color-text;
  .miejsce--zdjecie {
    width: 60%;
    height: 100%;
    //background-image: url("./../../../assets/images/Okolica/krakow.jpg");
    background-size: cover;
    box-shadow: $my-box-shadow;
  }

  .miejsce--opis {
    width: 40%;
    height: 100%;
    position: relative;
    border-bottom: $my-border-bottom;
    margin: 0px 1rem;
    .miejsce--opis-wrapper {
      position: absolute;
      @include center;
      width: 90%;
      text-align: center;
    }
    .miejsce--opis-h1 {
      font-size: $heading-h1-big;
      margin-bottom: 2rem;
    }
    .miejsce--opis-p {
      font-size: $heading-h2;
      text-align: justify;
    }

    .miejsce--opis-icona {
      margin-top: 2rem;
      img {
        width: 9.5rem;
      }
      p {
        font-size: 1.5rem;
        transform: translateY(-3rem);
      }
    }
  }
}

.miejsce {
  @extend %miejsce-basic;
}

.miejsce-right {
    @extend %miejsce-basic;
    flex-direction: row-reverse;
  }
