<section class="atrakcje-gallery">
        <div class="atrakcje-gallery__element">
                <app-atrakcje-gallery-element nazwa='Grill'
                        elementOne='Nasza wiata grillowa jest dostępna dla gości! Spędzicie tu cudowne wieczory przy świetle gwiazd!'>
                </app-atrakcje-gallery-element>
        </div>
        <div class="atrakcje-gallery__element">
                <app-atrakcje-gallery-element nazwa='Grzyby'
                        elementOne='W okolicy Makowego Domu jest mnóstwo grzybów. Nie jeden wrócił z koszykiem wypełnionym po brzegi!'
                        [isLeft]='false' photoOne='./../../../assets/images/dlagosci/grzyby/IMG-20190818-WA0003.jpg'
                        photoTwo='./../../../assets/images/dlagosci/grzyby/IMG-20190818-WA0007.jpg'
                        photoThree='../../../assets/images/dlagosci/grzyby/IMG-20190818-WA0008.jpg'
                        photoFour='../../../assets/images/dlagosci/grzyby/IMG-20190818-WA0009.jpg'
                        photoFive='./../../../assets/images/dlagosci/grzyby/IMG_20190825_184052.jpg'>
                </app-atrakcje-gallery-element>
        </div>
        <div class="atrakcje-gallery__element">
                <app-atrakcje-gallery-element nazwa='Planszówki'
                        elementOne='Gdy nie spędzacie wieczoru przy grillu, czekają na was gry planszowe. Taboo, 5sekund, karty i wiele innych gier zapewni wam niesamowitą zabawę!'
                        photoOne='./../../../assets/images/dlagosci/planszowki/5s.JPG'
                        photoTwo='./../../../assets/images/dlagosci/planszowki/doble.JPG'
                        photoThree='../../../assets/images/dlagosci/planszowki/euro.JPG'
                        photoFour='../../../assets/images/dlagosci/planszowki/karty.JPG'
                        photoFive='./../../../assets/images/dlagosci/planszowki/lego.JPG'></app-atrakcje-gallery-element>
        </div>
        <div class="atrakcje-gallery__element">
                <app-atrakcje-gallery-element nazwa='Lasy' [isLeft]='false'
                        elementOne='Okoliczne lasy idealnie nadają się na spacery. Śpiew ptaków, szum lasu i cudowna natura sprawią, że uda wam się wyciszyć i odpocząć.'
                        photoOne='./../../../assets/images/dlagosci/lasy/DSC07514.JPG'
                        photoTwo='./../../../assets/images/dlagosci/lasy/DSC07516.JPG'
                        photoThree='../../../assets/images/dlagosci/lasy/DSC07544.JPG'
                        photoFour='../../../assets/images/dlagosci/lasy/DSC07551.JPG'
                        photoFive='./../../../assets/images/dlagosci/lasy/DSC07617.JPG'></app-atrakcje-gallery-element>
        </div>
</section>