<section class="atrakcje-gallery">
        <div class="atrakcje-gallery__element" id="grill">
                <app-atrakcje-gallery-element nazwa='Grill'
                        elementOne='Nasza wiata grillowa jest dostępna dla gości! Spędzicie tu cudowne wieczory przy świetle gwiazd!'>
                </app-atrakcje-gallery-element>
        </div>
        <div class="atrakcje-gallery__element" id="grzyby">
                <app-atrakcje-gallery-element nazwa='Grzyby'
                        elementOne='W okolicy Makowego Domu jest mnóstwo grzybów. Nie jeden wrócił z koszykiem wypełnionym po brzegi!'
                        [isLeft]='false' 
                        photoOne='assets/images/dlagosci/grzyby/g3-min.jpg'
                        photoTwo='assets/images/dlagosci/main/grzyby-min.jpg'
                        photoThree='assets/images/dlagosci/grzyby/g2-min.jpg'
                        photoFour='assets/images/dlagosci/grzyby/g1-min.jpg'
                        photoFive='assets/images/dlagosci/main/grzyby2-min.jpg'>
                </app-atrakcje-gallery-element>
        </div>
        <div class="atrakcje-gallery__element" id="planszowki">
                <app-atrakcje-gallery-element nazwa='Gry'
                        elementOne='W apartamencie, czekają na was książki, gry planszowe, karty i lego. Dla aktywnych mamy paletki do badmintona!'
                        photoOne='assets/images/dlagosci/planszowki/5s-min.jpg'
                        photoTwo='assets/images/dlagosci/planszowki/doble-min.jpg'
                        photoThree='assets/images/dlagosci/planszowki/euro-min.jpg'
                        photoFour='assets/images/dlagosci/planszowki/karty-min.jpg'
                        photoFive='assets/images/dlagosci/planszowki/lego-min.jpg'></app-atrakcje-gallery-element>
        </div>
        <div class="atrakcje-gallery__element" id="lasy">
                <app-atrakcje-gallery-element nazwa='Lasy' [isLeft]='false'
                        elementOne='Okoliczne lasy idealnie nadają się na spacery. Śpiew ptaków, szum lasu i cudowna natura sprawią, że uda wam się wyciszyć i odpocząć.'
                        photoOne='assets/images/dlagosci/lasy/l2-min.jpg'
                        photoTwo='assets/images/dlagosci/lasy/l3-min.jpg'
                        photoThree='assets/images/dlagosci/lasy/l1-min.jpg'
                        photoFour='assets/images/dlagosci/lasy/l4-min.jpg'
                        photoFive='assets/images/dlagosci/lasy/l5-min.jpg'></app-atrakcje-gallery-element>
        </div>
</section>