@import './../../../sharedScss/_mixins.scss';

.atrakcje-gallery {
    height: 200vh;
    padding: 5rem 10rem;
    @include respond(phone) { // width < 1200?
        padding: 5rem 1rem;
    }
    margin-bottom: 10rem;

    &__element{
        width: 100%;
        height: 25%;
        margin-bottom: 3rem;
        // &:not(:last-child){
        //     margin-bottom: 3rem;
        // }
    }
}