
<section class="atrakcje-gallery">
    <div class="atrakcje-gallery__element">
            <app-atrakcje-gallery-element
            nazwa = 'Miasta'
            elementOne = 'Kraków'
            elementTwo = 'Wieliczka'
            elementThree = 'Nowy Sącz'
            ></app-atrakcje-gallery-element>
    </div>
    <div class="atrakcje-gallery__element">
            <app-atrakcje-gallery-element
            nazwa = 'Atrakcje'
            elementOne = 'Sankturaium w Pasierbcu'
            elementTwo = 'Rabkoland'
            elementThree = 'Limanowa - Ski'
            [isLeft] = 'false'
            photoOne = './../../../assets/images/atrakcje/Atrakcje/limanowaski1.jpg'
            photoTwo = './../../../assets/images/atrakcje/Atrakcje/pasierbiec.jpg'
            photoThree = '../../../assets/images/atrakcje/Atrakcje/rabkland2.png'
            photoFour = '../../../assets/images/atrakcje/Atrakcje/rabkoland1.jpg'
            photoFive = './../../../assets/images/atrakcje/Atrakcje/limanowaski2.jpg'
            ></app-atrakcje-gallery-element>
    </div>
    <div class="atrakcje-gallery__element">
            <app-atrakcje-gallery-element
            nazwa = 'Szczyty'
            elementOne = 'Paproć'
            elementTwo = 'Limanowski Krzyż'
            elementThree = 'Łysa Góra'
            photoOne = './../../../assets/images/atrakcje/szczyty/paproc2.jpg'
            photoTwo = './../../../assets/images/atrakcje/szczyty/lysa2.jpg'
            photoThree = '../../../assets/images/atrakcje/szczyty/limanowakrzyz1.jpg'
            photoFour = '../../../assets/images/atrakcje/szczyty/limanowsikrzyz2.jpg'
            photoFive = './../../../assets/images/atrakcje/szczyty/lysa1.jpg'
            ></app-atrakcje-gallery-element>
    </div>
</section>
