<section class="apartament-gallery">
  <div class="apartament-gallery__grid-container">
    <div
      class="apartament-gallery__grid-container--main-image"
      [ngStyle]="{ 'background-image': 'url(' + mainInfo.imgPath + ')' }"
    >
      <div class="apartament-gallery__grid-container--main-info">
        <h1 class="apartament-gallery__grid-container--main-info-heading">
          {{ mainInfo.name }}
        </h1>
        <p class="apartament-gallery__grid-container--main-info-text">
          {{ mainInfo.description }}
        </p>
      </div>
    </div>
    <div
      class="apartament-gallery__grid-container--side-image-1"
      [ngStyle]="{ 'background-image': 'url(' + rowOne.imgPath + ')' }"
      (click)="onCheckRoomInfo(1)"
    >
      <div class="apartament-gallery__grid-container--side-info">
        <h3 class="apartament-gallery__grid-container--side-info-heading">
          {{ rowOne.name }}
        </h3>
        <p class="apartament-gallery__grid-container--side-info-text">
          Sam zobacz...
        </p>
      </div>
    </div>
    <div
      class="apartament-gallery__grid-container--side-image-2"
      [ngStyle]="{ 'background-image': 'url(' + rowTwo.imgPath + ')' }"
      (click)="onCheckRoomInfo(2)"
    >
      <div class="apartament-gallery__grid-container--side-info">
        <h3 class="apartament-gallery__grid-container--side-info-heading">
          {{ rowTwo.name }}
        </h3>
        <p class="apartament-gallery__grid-container--side-info-text">
          Sam zobacz...
        </p>
      </div>
    </div>
    <div
      class="apartament-gallery__grid-container--side-image-3"
      [ngStyle]="{ 'background-image': 'url(' + rowThree.imgPath + ')' }"
      (click)="onCheckRoomInfo(3)"
    >
      <div class="apartament-gallery__grid-container--side-info">
        <h3 class="apartament-gallery__grid-container--side-info-heading">
          {{ rowThree.name }}
        </h3>
        <p class="apartament-gallery__grid-container--side-info-text">
          Sam zobacz...
        </p>
      </div>
    </div>
    <div
      class="apartament-gallery__grid-container--side-image-4"
      [ngStyle]="{ 'background-image': 'url(' + rowFour.imgPath + ')' }"
      (click)="onCheckRoomInfo(4)"
    >
      <div class="apartament-gallery__grid-container--side-info">
        <h3 class="apartament-gallery__grid-container--side-info-heading">
          {{ rowFour.name }}
        </h3>
        <p class="apartament-gallery__grid-container--side-info-text">
          Sam zobacz...
        </p>
      </div>
    </div>
  </div>
</section>
