@import "../../../sharedScss/variables";
@import "../../../sharedScss/mixins";

.call-to-action {
    //background-image: linear-gradient(to right bottom, $color-primary, $color-primary-dark-1);
    //background-image: $gradient-red;
    height: $section-break;
    position: relative;

    &__info {
        @include center;
        //color: $color-text;

        
        &--icons {
            :not(:last-child){
                margin-right: 10%;
            }
            text-align: center;
            transform: translateY(1.7rem);
        }

        &--icon {
            height: 4rem; 
            @include respond(tab-port) { // width < 1200?
                font-size: 3rem;
            }
        }

        &--phone {
            font-size: 7rem;
            @include respond(tab-port) { // width < 1200?
                font-size: 5rem;
            }
            //text-shadow: 0 1rem 2rem rgba(black, .8);
            @extend %text-gradient;
        }

        &--text {
            text-align: center;
            font-size: $heading-h1;
            @include respond(tab-port) { // width < 1200?
                font-size: 3rem;
            }
            //text-shadow: 0 0.5rem 1rem rgba(black, .4);
            border-bottom: $my-border-bottom;
            padding-bottom: 1.2rem;
            @extend %text-gradient;
        }
    }
}