<div class="call-to-action">
    <div class="call-to-action__info">
        <div class="call-to-action__info--icons">
            <img src="./../../../assets/images/icons/big/phone-call.png" alt="Phone" class="call-to-action__info--icon">
            <img src="./../../../assets/images/icons/big/comment.png" alt="SMS" class="call-to-action__info--icon">
            <img src="./../../../assets/images/icons/big/whatsapp.png" alt="Whatsapp" class="call-to-action__info--icon">
        </div>
        <h1 class="call-to-action__info--phone">512-712-825</h1>
        <h3 class="call-to-action__info--text">Czekamy na Ciebie</h3>
    </div>
</div>
