<div class="navbar" (click)="clickedInside($event)" [ngClass]="{'navbar__scroll' : !navbarTransparent, 'navbar__scroll-not' : navbarTransparent}">
    <ul *ngIf="!sideNavbar" class="navbar__list">
        <li class="navbar__item">
            <a [routerLink]="[ '/' ]" [ngClass]="{
                'navbar__link--scroll' : !navbarTransparent, 
                'navbar__link--scroll-not' : navbarTransparent}">Makowy dom</a>
        </li>

        <li class="navbar__item">
            <a routerLink="/apartament" [ngClass]="{
                'navbar__link--scroll' : !navbarTransparent, 
                'navbar__link--scroll-not' : navbarTransparent}">Apartament</a>
        </li>
        <li class="navbar__item">
            <a routerLink="/atrakcje" [ngClass]="{
                'navbar__link--scroll' : !navbarTransparent, 
                'navbar__link--scroll-not' : navbarTransparent}">Atrakcje</a>
        </li>
        <li class="navbar__item">
            <a routerLink="/okolica" [ngClass]="{
                'navbar__link--scroll' : !navbarTransparent, 
                'navbar__link--scroll-not' : navbarTransparent}">Okolica</a>
        </li>
        <li class="navbar__item">
            <a routerLink="/galeria" [ngClass]="{
                    'navbar__link--scroll' : !navbarTransparent, 
                    'navbar__link--scroll-not' : navbarTransparent}">Galeria</a>
        </li>
        <li class="navbar__item">
            <a routerLink="/cennik" [ngClass]="{
                'navbar__link--scroll' : !navbarTransparent, 
                'navbar__link--scroll-not' : navbarTransparent}">Cennik</a>
        </li>
    </ul>
    <ul *ngIf="sideNavbar" class="navbar__list">
        <li class="navbar__item">
            <button (click)="onMenuClick()" [ngClass]="{
                'navbar__link--scroll' : !navbarTransparent, 
                'navbar__link--scroll-not' : navbarTransparent}">Menu</button>
        </li>
    </ul>
</div>
<div class="{{sideNavbarClass}}" (click)="clickedInside($event)">
    <img src="assets/images/main-page/LogoMakowyDom.png" alt="">
    <ul>
        <li>
            <a [routerLink]="[ '/' ]" (click)="onMenuClick()" >Makowy Dom</a>
        </li>
        <li>
            <a routerLink="/apartament" (click)="onMenuClick()" >Apartament</a>
        </li>
        <li>
            <a routerLink="/atrakcje" (click)="onMenuClick()">Atrakcje</a>
        </li>
        <li>
            <a routerLink="/okolica" (click)="onMenuClick()">Okolice</a>
        </li>
        <li>
            <a routerLink="/galeria" (click)="onMenuClick()">Galeria</a>
        </li>
        <li>
            <a routerLink="/cennik" (click)="onMenuClick()">Cennik</a>
        </li>
    </ul>
</div>