<div class="navbar">
    <ul class="navbar__list">
        <li class="navbar__item"><a href="" class="navbar__link">Makowy dom</a></li>
        <li class="navbar__item"><a href="" class="navbar__link">Galeria</a></li>
        <li class="navbar__item"><a href="" class="navbar__link">Apartament</a></li>
        <li class="navbar__item"><a href="" class="navbar__link">Atrakcje</a></li>
        <li class="navbar__item"><a href="" class="navbar__link">Okolica</a></li>
        <li class="navbar__item"><a href="" class="navbar__link">Cennik</a></li>
    </ul>
</div>
