<div class="navbar" [ngClass]="{'navbar__scroll' : !navbarTransparent, 'navbar__scroll-not' : navbarTransparent}">
    <ul class="navbar__list">
        <li class="navbar__item">
            <a 
            [routerLink]="[ '/' ]" 
            [ngClass]="{
                'navbar__link--scroll' : !navbarTransparent, 
                'navbar__link--scroll-not' : navbarTransparent}"
                >Makowy dom</a>
            </li>
        <li class="navbar__item">
            <a routerLink="/apartament" [ngClass]="{
                'navbar__link--scroll' : !navbarTransparent, 
                'navbar__link--scroll-not' : navbarTransparent}">Galeria</a>
            </li>
        <li class="navbar__item">
            <a 
            routerLink="/apartament"
            [ngClass]="{
                'navbar__link--scroll' : !navbarTransparent, 
                'navbar__link--scroll-not' : navbarTransparent}"
            >Apartament</a>
            </li>
        <li class="navbar__item">
            <a routerLink="/atrakcje" [ngClass]="{
                'navbar__link--scroll' : !navbarTransparent, 
                'navbar__link--scroll-not' : navbarTransparent}">Atrakcje</a>
            </li>
        <li class="navbar__item">
            <a 
            routerLink="/okolica" 
            [ngClass]="{
                'navbar__link--scroll' : !navbarTransparent, 
                'navbar__link--scroll-not' : navbarTransparent}">Okolica</a>
            </li>
        <li class="navbar__item">
            <a href="" [ngClass]="{
                'navbar__link--scroll' : !navbarTransparent, 
                'navbar__link--scroll-not' : navbarTransparent}">Cennik</a>
            </li>
    </ul>
</div>
