@import "../../sharedScss/colors";

%navbar-shared {
  font-size: 3rem;
  position: fixed;
  z-index: 1;
}

%link-shared {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bolder;
  display: inline-block;
  transition: all .5s;
}

.navbar {
  &__scroll-not {
    background-color: rgba($color-secondary, 0.2);
    @extend %navbar-shared;
  }

  &__scroll {
    background-color: rgba($color-secondary, 1);
    @extend %navbar-shared;
  }

  &__list {
    list-style: none;
    width: 100vw;
    text-align: center;
    padding: 2rem 0;
  }

  &__item {
    display: inline-block;
    &:not(:last-child) {
      margin-right: 6rem;
    }
  }

  // Class when you scroll page
  &__link--scroll {
    &:link,
    &:visited {
      color: $color-primary;
      @extend %link-shared;
    }

    &:hover,
    &:active {
      color: rgba($color-primary, 1);
      transform: scale(1.05);
    }
  }

  // Class wehan you didn't scroll
  &__link--scroll-not {
    &:link,
    &:visited {
      color: $color-white;
      @extend %link-shared;
    }

    &:hover,
    &:active {
      color: rgba($color-primary, 0.8);
      transform: scale(1.05);
    }
  }
}
