@import "../../sharedScss/variables";

%navbar-shared {
  font-size: $heading-h1;
  position: fixed;
  z-index: 10000;
}

%link-shared {
  text-decoration: none;
  //text-transform: uppercase;
  font-weight: bolder;
  display: inline-block;
  transition: all 0.5s;
}

.navbar {
  border-bottom: 1px solid rgba($color-primary-dark-1, 0.5);

  &__scroll-not {
    background-color: rgba($color-secondary, 0.2);
    @extend %navbar-shared;
  }

  &__scroll {
    background-image: $gradient-white;
    @extend %navbar-shared;
  }

  &__list {
    list-style: none;
    width: 100vw;
    text-align: center;
    padding: 1.4rem 0;
  }

  &__item {
    display: inline-block;
    margin-right: 5rem;
    @include respond(phone) {
      margin-right: auto; 
    }

    button {
      border: 0;
      text-decoration: 0;
      font-size: $heading-h1;
      font-weight: bold;
      background-color: transparent;
      &.navbar__link--scroll {
        color: $color-text;
      }
      &.navbar__link--scroll-not {
        color: $color-secondary;
      }

      &:focus {
        outline: none;
        border-bottom: $my-border-bottom;
      }
    }
  }

  // Class when you scroll page
  &__link--scroll {
    &:link,
    &:visited {
      color: #280f0f;
      @extend %link-shared;
    }

    &:hover,
    &:active {
      color: rgba(#280f0f, 1);
      transform: scale(1.05);
    }
  }

  // Class wehan you didn't scroll
  &__link--scroll-not {
    &:link,
    &:visited {
      color: $color-white;
      @extend %link-shared;
    }

    &:hover,
    &:active {
      color: rgba($color-secondary, 1);
      transform: scale(1.05);
    }
  }
}

%shared-sidenav {
  //border-right: $my-border-bottom;
  height: 100%;
  //width: 40%;
  width: 0;
  position: fixed;
  z-index: 10001;
  top: 0;
  left: 0;
  background-color: $color-secondary;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 5rem;

  text-align: center;
  img {
    height: 15rem;
    opacity: 0;
    @include respond(phone-small) {
      // width < 1200?
      height: 10rem; //1 rem = 9px, 9/16 = 50%
    }
  }

  ul {
    list-style: none;
    text-align: center;
    opacity: 0;

    li {
      font-size: 3rem;
      @include respond(phone-small) {
        font-size: 2rem; 
      }
      white-space: nowrap;
      &:first-child {
        margin-top: 0px;
      }
      margin: 2rem;
      a {
        &:link,
        &:visited {
          color: $color-text;
          @extend %link-shared;
        }
        &:hover,
        &:active {
          color: rgba(#280f0f, 1);
          transform: scale(1.05);
        }
      }
    }
  }
}

.sidenav {
  @extend %shared-sidenav;
}

.sidenav-open {
  @extend %shared-sidenav;
  width: 50%;
  border-right: $my-border-bottom;
  ul {
    opacity: 1;
  }
  img {
    opacity: 1;
  }
}
