@import "../../sharedScss/variables";

%navbar-shared {
  font-size: $heading-h1;
  position: fixed;
  z-index: 10000;
}

%link-shared {
  text-decoration: none;
  //text-transform: uppercase;
  font-weight: bolder;
  display: inline-block;
  transition: all .5s;
}

.navbar {
  border-bottom: 1px solid rgba($color-primary-dark-1, .5);

  &__scroll-not {
    background-color: rgba($color-secondary, 0.2);
    @extend %navbar-shared;
  }

  &__scroll {
    //background-color: $color-secondary;
    background-image: $gradient-white;
    @extend %navbar-shared;
  }

  &__list {
    list-style: none;
    width: 100vw;
    text-align: center;
    padding: 1.4rem 0;
  }

  &__item {
    display: inline-block;
    margin-right: 5rem;
  }

  // Class when you scroll page
  &__link--scroll {
    &:link,
    &:visited {
      color: #280f0f;
      @extend %link-shared;
    }

    &:hover,
    &:active {
      color: rgba(#280f0f, 1);
      transform: scale(1.05);
    }
  }

  // Class wehan you didn't scroll
  &__link--scroll-not {
    &:link,
    &:visited {
      color: $color-white;
      @extend %link-shared;
    }

    &:hover,
    &:active {
      color: rgba($color-secondary, 1);
      transform: scale(1.05);
    }
  }
}
