<div class="main-info">
    <div class="main-info__photo">&nbsp;</div>
    <div class="main-info__content">
        <h1 class="main-info__content--name">Makowy Dom</h1>
        <h3 class="main-info__content--text">Tutaj prawdziwie wypoczenisz,
            <br>
            spędzisz czas z najmbliższymi
            <br>
            i poczujesz magię gór.</h3>
        <div class="main-info__content--four-people">
            <div class="main-info__content--four-people--icon">
                <img src="./../../../assets/images/user.png" alt="">
                <img src="./../../../assets/images/user.png" alt="">
                <img src="./../../../assets/images/user.png" alt="">
                <img src="./../../../assets/images/user.png" alt="">
            </div>
            <p class="main-info__content--four-people--text">4-osobowy</p>
        </div>
        <ul class="main-info__content--info-list">
            <li class="main-info__content--info-item">
                <div class="main-info__content--info-item">
                    <img src="./../../../assets/images/kitchen.png" alt="">
                    <p class="main-info__content--info-item--text">Kuchnia</p>
                </div>
            </li>
            <li class="main-info__content--info-item">
                    <img src="./../../../assets/images/bed.png" alt="">
                    <p class="main-info__content--info-item--text">Pokój</p>
            </li>
            <li class="main-info__content--info-item">
                    <img src="./../../../assets/images/shower.png" alt="">
                    <p class="main-info__content--info-item--text">Łazienka</p>
            </li>
            <li class="main-info__content--info-item">
                    <img src="./../../../assets/images/balcony.png" alt="">
                    <p class="main-info__content--info-item--text">Balkon</p>
            </li>
            <li class="main-info__content--info-item">
                    <img src="./../../../assets/images/wifiNew.png" alt="">
                    <p class="main-info__content--info-item--text">Wifi</p>
            </li>
        </ul>
        <app-button></app-button>
    </div>
</div>