<div class="main-info">
    <div class="main-info__content">
        <h1 class="main-info__content--name">Makowy Dom</h1>
        <h3 class="main-info__content--text">Tutaj prawdziwie wypoczenisz,
            spędzisz czas z najmbliższymi
            i poczujesz magię gór.</h3>
        <div class="main-info__content--four-people">
            <div class="main-info__content--four-people--icon">
                <img src="./../../../assets/images/icons/big/user.png" alt="">
                <img src="./../../../assets/images/icons/big/user.png" alt="">
                <img src="./../../../assets/images/icons/big/user.png" alt="">
                <img src="./../../../assets/images/icons/big/user.png" alt="">
            </div>
            <p class="main-info__content--four-people--text">4-osobowy</p>
        </div>
        <ul class="main-info__content--info-list">
            <li class="main-info__content--info-item">
                <div class="main-info__content--info-item">
                    <img src="./../../../assets/images/icons/big/kitchen.png" alt="">
                    <p class="main-info__content--info-item--text">Kuchnia</p>
                </div>
            </li>
            <li class="main-info__content--info-item">
                    <img src="./../../../assets/images/icons/big/bed.png" alt="">
                    <p class="main-info__content--info-item--text">Pokój</p>
            </li>
            <li class="main-info__content--info-item">
                    <img src="./../../../assets/images/icons/big/shower.png" alt="">
                    <p class="main-info__content--info-item--text">Łazienka</p>
            </li>
            <li class="main-info__content--info-item">
                    <img src="./../../../assets/images/icons/big/balcony.png" alt="">
                    <p class="main-info__content--info-item--text">Balkon</p>
            </li>
            <li class="main-info__content--info-item">
                    <img src="./../../../assets/images/icons/big/wifiNew.png" alt="">
                    <p class="main-info__content--info-item--text">Wifi</p>
            </li>
        </ul>
        <!-- <app-button buttonText="Cennik"></app-button> -->
    </div>
</div>