@import "../../../sharedScss/variables";

.main-info {
    height: 95vh;
    padding: 5rem 5rem;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 40% 55%;
    grid-column-gap: 5%;
    //margin: 0px 5rem;
    background-image: url('./../../../assets/images/dom2.JPG');
    background-size: cover;
    background-position: center;


    &__photo {
        height: 100%;
        width: 100%;
        //background-color: red;
        background-image: url(./../../../assets/images/main-page//dom2-min.JPG);
        background-size: cover;
        margin-right: 5rem;
        box-shadow: 0 1rem 3rem rgba(black, .3);
    }

    &__content {
        height: 100%;
        background-color: rgba($color-secondary, .9);
        display: grid;
        grid-template-rows: auto;
        padding: 3rem;
        border-bottom: $my-border-bottom;

        &--name {
            text-align: center;
            font-size: $heading-h1-big;
            color: $color-text;
            font-weight: bold;
        }

        &--text {
            text-align: center;
            font-size: $heading-h2;
            color: $color-text;
            font-weight: normal;
            transform: translateY(-.7rem);
        }

        &--four-people {
            text-align: center;
            //margin-top: 2rem;
            &--icon {

                img {
                    height: 4rem;    
                    //display: inline-block;
                }
            }

            &--text {
                color: $color-text;
                font-size: $heading-h2;
                font-weight: bold;
            }
            

        }

        &--info-list {
            list-style: none;
            width: 100%;
            text-align: center;
            //padding: 2rem 0;
        }

        &--info-item{
            display: inline-block;
            &:not(:last-child) {
              margin-right: 2rem;
            }

            img {
                height: 5rem;
            }

            &--text{
                color: $color-text;
                font-size: $heading-h2;
                font-weight: bold;
            }
        }
    }
}