@import "../../../sharedScss/variables";

.social-proof {
    height: $section-break;
    background-image: linear-gradient(to right bottom, $color-primary, $color-primary-dark-1); 

    .carousel {
        ::ng-deep button {
            transform: translate(0, 1.2rem);
            top: 100%;

            &.slick-prev {
                left: 1rem;
            }

            &.slick-next {
                right: 1rem;
            }
        }
    }
}

