<div class="social-proof">
                <ngx-slick-carousel class="carousel" 
                #slickModal="slick-carousel" 
                [config]="slideConfig">
    <div ngxSlickItem *ngFor="let slide of slides" class="slide">
            <app-social-card></app-social-card>
    </div>
    </ngx-slick-carousel>
    <!-- <ul class="social-proof__list">    
        <li class="social-proof__item"><app-social-card></app-social-card></li>
        <li class="social-proof__item"><app-social-card></app-social-card></li>
        <li class="social-proof__item"><app-social-card></app-social-card></li> 
    </ul> -->
    

</div>
