@import "../../../sharedScss/variables";

.social-proof {
    height: $section-break;
    background-image: $gradient-white;

    .carousel {
        ::ng-deep .slick-slide {
            text-align: center;
            padding-bottom: 1rem;
        }

        ::ng-deep button {
            transform: translate(0, 1.2rem);
            top: 100%;
            

            &.slick-prev {
                left: 3rem;
                transform: translateY(-10rem);
                z-index: 10;
                &::before{
                    color: $color-primary-dark-1;
                }
            }

            &.slick-next {
                right: 3rem;
                transform: translateY(-10rem);
                &::before{
                    color: $color-primary-dark-1;
                }
            }
        }
    }
}

