@import "../../../sharedScss/colors";

.social-proof {
    height: 27rem;
    //background-color: $color-primary;
    background-image: linear-gradient(to right bottom, $color-primary, $color-primary-light-1);

    &__item {
        display: inline-block;
    }
}