<section class="atrakcje">
    <div class="atrakcje__grid">
        <div class="atrakcje__grid--text">
            <h3 class="atrakcje__grid--text-heading-small">
                Atrakcje <br>
                Makowego Domu
            </h3>
            <h1 class="atrakcje__grid--text-heading-big">Grill</h1>
            <h1 class="atrakcje__grid--text-heading-big">Grzyby</h1>
            <h1 class="atrakcje__grid--text-heading-big">Planszówki</h1>
            <h1 class="atrakcje__grid--text-heading-big">Lasy</h1>
        </div>
        <div class="atrakcje__grid--photo-forest"></div>
        <div class="atrakcje__grid--photo-cracov"></div>
        <div class="atrakcje__grid--photo-wielicka"></div>
        <div class="atrakcje__grid--photo-mountain"></div>
        <div class="atrakcje__grid--photo-sanctuary"></div>
        <div class="atrakcje__grid--photo-nowysacz"></div>
        <div class="atrakcje__grid--photo-tower"></div>
    </div>
</section>
<hr>
<!-- <app-social-proof></app-social-proof> -->
<app-atrakcje-gallery></app-atrakcje-gallery>
