@import "../../sharedScss/variables";

.atrakcje {
  padding-top: 9rem;
  
  height: 95vh;
  background-color: $color-secondary;
  margin-bottom: 5rem;
  margin-right: 1rem;
  @include respond(phone){
    padding-top: 5rem;
  }

  &__grid {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
      "Text Text Forest Cracov Cracov"
      "Text Text Wielicka Mountain Sanctuary"
      "Text Text Wielicka Nowysacz Tower";
    grid-gap: 1rem 1rem;
    @include respond(phone) { // width < 1200?
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
      grid-template-areas:

      "Text Text Text"
      "Forest Cracov Cracov"
      "Wielicka Mountain Sanctuary"
      "Wielicka Nowysacz Tower";
    }

    &--text {
      grid-area: Text;
      color: $color-text;
      text-align: center;
      padding: 3rem;

      &-wrapper {
        @include respond(phone){
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-template-rows: 1fr 1fr;
        }
      }

      &-heading-small {
        display: inline-block;
        font-size: 4.5rem;
        border-bottom: $my-border-bottom;
        @include respond(tab-port) { // width < 1200?
          font-size: 4rem;
        } 
        @include respond(phone){
          font-size: 2.5rem;
        }
      }

      &-heading-big {
        font-size: 4rem;
        margin-top: 3rem;
        @include respond(tab-land) { // width < 1200?
          margin-top: 2.5rem;
        } 
        @include respond(tab-port) { // width < 1200?
          margin-top: 1.5rem;
        } 
        @include respond(phone){
          font-size: 3rem;
        }

        
        a {
          text-decoration: none;
          color: #280f0f;
          transition: all .2s;
          &:hover{
            border-bottom: $my-border-bottom;
          }
        }
      }
    }

    &--photo {
      &-forest {
        grid-area: Forest;
        background-image: url('./../../assets/images/dlagosci/main/salasz-min.jpg');
        background-size: cover;
      }

      &-cracov {
        grid-area: Cracov;
        background-image: url('./../../assets/images/dlagosci/grill/jedzenie-min.jpg');
        background-size: cover;
        background-position: bottom;
      }

      &-wielicka {
        grid-area: Wielicka;
        background-image: url('./../../assets/images/dlagosci/grill/ogien2-min.jpg');
        background-size: cover;
        background-position: bottom;
        @include respond(phone){
          overflow: hidden;
        }
      }
      &-mountain {
        grid-area: Mountain;
        background-image: url('./../../assets/images/main-page/HomePageImage-min.jpg');
        background-size: cover;
      }
      &-sanctuary {
        grid-area: Sanctuary;
        background-image: url('./../../assets/images/dlagosci/main/grzyby-min.jpg');
        background-size: cover;
        background-position: center;
      }
      &-nowysacz {
        grid-area: Nowysacz;
        background-image: url('../../assets/images/dlagosci/main/grzyby2-min.jpg');
        background-size: cover;
      }
      &-tower {
        grid-area: Tower;
        background-image: url('../../assets/images/dlagosci/main/gry-min.JPG');
        background-size: cover;
      }
    }
  }
}

hr {
  border-top: $my-border-bottom;
  color: $color-primary-dark-1;
  width: 90%;
  margin: 0 5% 0 5%;
}
