@import "../../sharedScss/variables";
@import "./../../sharedScss/mixins";

%apartament-room {
  background-size: cover;
  height: 95vh;
  text-align: center;
  position: relative;
  box-shadow: 0 0.5rem 6rem rgba($color-primary-dark-1, 0.2);
  margin: 5rem;
  background-position: center;
}

%apartament-room-info {
  background-color: rgba($color-secondary, 0.9);
  min-height: 69%;
  width: 30%;
  @include respond(tab-port) { 
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}
  top: 50%;
  position: absolute;
  transform: translateY(-60%);
  margin: 5rem;
  padding: 6rem;
  border-bottom: $my-border-bottom;
}

.apartament {
  &__room {
    &--salon {
      background-image: url("./../../assets/images/apartament/salonnew-min.jpg");
      border-left: $my-border-bottom;
      border-bottom: $my-border-bottom;
      @extend %apartament-room;
      margin-top: 0px;
    }
    &--kuchnia {
      background-image: url("./../../assets/images/apartament/kuchnianew-min.jpg");
      border-top: $my-border-bottom;
      border-right: $my-border-bottom;
      @extend %apartament-room;
    }
    &--pokoj {
      background-image: url("./../../assets/images/apartament/pokojnew-min.jpg");
      @extend %apartament-room;
      border-left: $my-border-bottom;
      border-bottom: $my-border-bottom;
    }
    &--balkon {
      background-image: url("./../../assets/images/apartament/tarasnew-min.jpg");
      @extend %apartament-room;
      border-top: $my-border-bottom;
      border-right: $my-border-bottom;
    }
    &--lazienka {
      background-image: url("./../../assets/images/apartament/lazeinkanew-min.jpg");
      @extend %apartament-room;
      border-bottom: $my-border-bottom;
      border-left: $my-border-bottom;
    }
    &--kuchnia-info {
      @extend %apartament-room-info;
      right: 0px;
    }
    &--salon-info {
      @extend %apartament-room-info;
      transform: translateY(-53%);
    }
    &--pokoj-info {
      @extend %apartament-room-info;
    }
    &--balkon-info {
      @extend %apartament-room-info;
      right: 0px;
    }
    &--lazienka-info {
      @extend %apartament-room-info;
    }

    &--name {
      font-size: $heading-h1-big;
    }

    &--text {
      padding-top: 3rem;
      font-size: 1.5rem;
      text-align: justify;
    }

    &--icon {
      border-bottom: $my-border-bottom;
      img {
        width: 4rem;
        margin: 1rem;
      }
    }
  }
}
