<section class="apartament">
    <!-- <div class="apartament__heading">
        <h1 class="apartament__heading--text">Apartament</h1>
        <h3 class="apartament__heading--invitation">Zapraszamy do śrdoka. Zobacz co dla Ciebie mamy!</h3>
    </div> -->
    <div class="apartament__room--salon">
        <div class="apartament__room--salon-info">
            <h1 class="apartament__room--name">Salon</h1>

            <i class="apartament__room--icon">
                <img src="./../../assets/images/couch.png" alt="">
            </i>
            <h3 class="apartament__room--text">
                Duży przestronny salon połączony z kuchnią. Znajduje się w nim rozkładana dwuosobowa kanapa, fotel do
                czytania oraz stół. Z okna rozpościera się widok na przepiękny las, w którym od czasu do czasu można
                zobaczyć jelenie!
            </h3>
        </div>
    </div>
    <app-call-to-action-phone></app-call-to-action-phone>
    <div class="apartament__room--kuchnia">
        <div class="apartament__room--kuchnia-info">
            <h1 class="apartament__room--name">Kuchnia</h1>

            <i class="apartament__room--icon">
                <img src="./../../assets/images/kitchen.png" alt="">
            </i>
            <h3 class="apartament__room--text">
                Wygodna, przestronna i w pełni wyposażona kuchnia. Znajduje w niej się wszystko,
                czego potrzeba do ugotowania posiłków. Nie ma problemu z gotowaniem na kilka dni,
                ponieważ w kuchni znajduje się lodówka z zamrażarką.
            </h3>
        </div>
    </div>
    <app-social-proof></app-social-proof>
    <div class="apartament__room--pokoj">
        <div class="apartament__room--pokoj-info">
            <h1 class="apartament__room--name">Pokój</h1>

            <i class="apartament__room--icon">
                <img src="./../../assets/images/bed.png" alt="">
            </i>
            <h3 class="apartament__room--text">
                Duży dwuosobowy pokój idealnie nadający się do zabawy z dziećmi.
                Wyposażony jest w bardzo dużą szafę, która pomieści wszystkich domowników,
                dwa pojedyncze łóżka oraz fotel do czytania. Okno dachowe daje idealne światło
                do czytania naszych książek.
            </h3>
        </div>
    </div>
    <app-call-to-action-mail></app-call-to-action-mail>
    <div class="apartament__room--balkon">
        <div class="apartament__room--balkon-info">
            <h1 class="apartament__room--name">Balkon</h1>

            <i class="apartament__room--icon">
                <img src="./../../assets/images/balcony.png" alt="">
            </i>
            <h3 class="apartament__room--text">
                Przestronny balkon z ławami idealnie nadaje się do śniadań. Ptaki śpiewają,
                las szumi, a nasze baranki pasą się w zasięgu wzroku. W nocy natomiast można usiąść
                przy kolacji i podziwiać gwiazdy.
            </h3>
        </div>
    </div>
    <app-call-to-action-phone></app-call-to-action-phone>
    <div class="apartament__room--lazienka">
        <div class="apartament__room--lazienka-info">
            <h1 class="apartament__room--name">Łazienka</h1>

            <i class="apartament__room--icon">
                <img src="./../../assets/images/balcony.png" alt="">
            </i>
            <h3 class="apartament__room--text">
                Przyjemna prywatna łazienka. Wyposażona jest w kabinę prysznicową, ubikację,
                zlew, lustro oraz suszarkę do włosów. Każdy z gości otrzymuje również świeży komplet
                ręczników.
            </h3>
        </div>
    </div>
</section>

<!-- <app-call-to-action-mail></app-call-to-action-mail>
<app-apartament-gallery></app-apartament-gallery>
<app-social-proof></app-social-proof> -->