@import "../../sharedScss/variables";
@import './../../sharedScss/mixins';

.apartament{
    padding-top: 10rem;
    background-image: url('./../../assets/images/apartament/DSC07680.JPG');
    height: 85vh;
    background-size: cover;
    background-position: center;
    position: relative;

    &__heading {
        text-align: center;
        @include center;
        background-color: rgba($color-primary, .7);
        padding: 5rem;
        border-radius: 3px;

        &--text {
            color: $color-secondary;
            font-size: $heading-h1;
        }

        &--invitation {
            color: $color-secondary;
            font-size: $heading-h2;
        }
    }

    &__carousel {

        &--slick {
            margin: 4rem auto;
        }

        ::ng-deep button {
            transform: translate(0, 1.2rem);
            top: 100%;

            &.slick-prev {
                left: 1rem;

                &::before {
                    color: $color-primary;
                }
            }

            &.slick-next {
                right: 1rem;

                &::before {
                    color: $color-primary;
                }
            }
        }
    }

}