@import "../../../../sharedScss/variables";
@import "./../../../../sharedScss/mixins";

.grid-left {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "T T P1 P1 P2 P3" 
    "T T P5 P4 P4 P3";
    grid-gap: 1rem 1rem;
    height: 100%;

    &__text{
        grid-area: T;
        //background-color: $color-primary;
        position: relative;
        color: $color-text;
        border-bottom: $my-border-bottom;
        &--wrapper{
            @include center;
        }
        
        &--h1 {
            font-size: 5rem;
        }
        &--h3 {
            font-size: 1.4rem;
            margin-top: .7rem;
        }
    }

    &__photo-1{
        grid-area: P1;
        background-size: cover;
    }
    &__photo-2{
        grid-area: P2;
        background-size: cover;
    }
    &__photo-3{
        grid-area: P3;
        background-size: cover;
    }
    &__photo-4{
        grid-area: P4;
        background-size: cover;
    }
    &__photo-5{
        grid-area: P5;
        background-size: cover;
    }
  }

.grid-right {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "P3 P1 P1 P2 T T" 
    "P3 P5 P4 P4 T T";
    grid-gap: 1rem 1rem;
    height: 100%;

    &__text{
        grid-area: T;
        //background-color: $color-primary;
        position: relative;
        color: $color-text;
        border-top: $my-border-bottom;
        &--wrapper{
            @include center;
        }
        
        &--h1 {
            font-size: 5rem;
        }
        &--h3 {
            font-size: 1.4rem;
            margin-top: .7rem;
        }
    }

    &__photo-1{
        grid-area: P1;
        background-size: cover;
    }
    &__photo-2{
        grid-area: P2;
        background-size: cover;
    }
    &__photo-3{
        grid-area: P3;
        background-size: cover;
    }
    &__photo-4{
        grid-area: P4;
        background-size: cover;
    }
    &__photo-5{
        grid-area: P5;
        background-size: cover;
    }
}