@import "../../../sharedScss/variables";

@keyframes slideInFromDown {
  0% {
    transform: translateY(98%);
    opacity: 0;
  }
  100% {
    transform: translateY(50%);
    opacity: 1;
  }
}

.header {
  background-image: linear-gradient(
      to right bottom,
      rgba($color-blue-light, 0.4),
      rgba($color-blue-dark, 0.05)
    ),
    url(../../../assets/images/main-page/HomePageImage-min.jpg);
  background-size: cover;
  height: 100vh;
  position: relative;
  @include respond(tab-port) { 
    height: 50vh;
  }
  @include respond(phone) { 
    height: 100vh;
    padding-top: 8rem;
  }
  @include respond(phone-small) { 
    padding-top: 1px;
  }

  &__text-box {
    text-align: center;
    transform: translateY(50%);
    animation: 3s ease-out .5s 1 forwards slideInFromDown;
    opacity: 0;
    -webkit-animation-delay: .8s; 
    animation-delay: .8s;
    

    &--img {
      width: 20rem;
      height: 20rem;
      display: inline-block;
      transform: translateY(-14rem);
      background-image: url(./../../../assets/images/main-page/LogoMakowyDom.png);
      background-size: cover;
      @include respond(tab-port) { 
        width: 15rem;
        height: 15rem;
        transform: translateY(-10rem);
      }
      @include respond(phone) { 
        width: 15rem;
        height: 15rem;
        transform: translateY(-9rem);
      }
      @include respond(phone-small) { 
        display: inline-block;
        transform: translateY(-1rem);
      }
      @include respond(phone-land) { 
        display: inline-block;
        width: 15rem;
        height: 15rem;
        transform: translateY(-11rem);
      }
      
    }

    &--heading {
      color: $color-white;
      font-size: 12rem;
      @include respond(tab-port) { 
        font-size: 10rem;
      }
      @include respond(phone) { 
        font-size: 7rem;
      }
      display: inline-block;
    }
  }
}
