@import "../../../sharedScss/variables";

.header {
  background-image: linear-gradient(
      to right bottom,
      rgba($color-blue-light, 0.4),
      rgba($color-blue-dark, 0.05)
    ),
    url(../../../assets/images/main-page/HomePageImage-min.jpg);
  background-size: cover;
  height: 100vh;
  position: relative;
  @include respond(tab-port) { 
    height: 50vh;
  }
  @include respond(tab-land) { 
    height: 75vh;
  }
  @include respond(phone) { 
    height: 100vh;
    padding-top: 8rem;
  }
  @include respond(phone-land) { 
    height: 100vh;
  }
  @include respond(phone-small) { 
    padding-top: 1px;
  }

  &__text-box {
    text-align: center;
    transform: translateY(50%);
    

    &--img {
      width: 20rem;
      height: 20rem;
      display: inline-block;
      transform: translateY(-14rem);
      background-image: url(./../../../assets/images/main-page/LogoMakowyDom.png);
      background-size: cover;
      @include respond(tab-port) { 
        width: 15rem;
        height: 15rem;
        transform: translateY(-.1rem);
      }
      @include respond(tab-land) { 
        // width: 15rem;
        // height: 15rem;
        transform: translateY(-12rem);
      }
      @include respond(phone) { 
        width: 15rem;
        height: 15rem;
        transform: translateY(-9rem);
      }
      @include respond(phone-small) { 
        display: inline-block;
        transform: translateY(-1rem);
      }
      @include respond(phone-land) { 
        display: inline-block;
        width: 15rem;
        height: 15rem;
        transform: translateY(-9rem);
      }
      
    }

    &--heading {
      color: $color-white;
      font-size: 12rem;
      @include respond(tab-port) { 
        font-size: 8rem;
      }
      @include respond(tab-land) { 
        font-size: 9rem;
      }
      @include respond(phone) { 
        font-size: 5.3rem;
      }
      @include respond(phone-land) { 
        font-size: 7rem;
      }
      display: inline-block;
    }

    &--underline{
      border-bottom: $my-border-bottom;
    }
  }
}
