@import './../../sharedScss/variables';
.cookies{
    min-height: 100vh;
    &__info{
        padding: 10rem;
        color: $color-text;

        &--h1{
            text-align: center;
            font-size: 2rem;
            margin-bottom: 4rem;
        }
        
        &--text{
            font-size: 1.5rem;
        }
    }
}