<section class="dla-gosci">
    <div class="dla-gosci__img">
        <div class="dla-gosci__text">
            <h1 class="dla-gosci__text--h1">Dla naszych ukochanych Gości</h1>
            <h3 class="dla-gosci__text--h3">
                Myśląc o naszych gościach przygotowaliśmy dla nich wiele.
                Wszystko po to by mogli spędzić cudowny czas w naszym Makowy Domu.
                Grill, Gry planszowe, Paletki do Badmintona i wiele innych rzeczy czeka na was
                by spędzić niesamowity czas.
            </h3>
        </div>
    </div>
</section>
<!-- <app-social-proof></app-social-proof> -->
