<section class="okolica">
    <!-- <div class="break-for-navbar">&nbsp;</div> -->
    <app-okolica-miejsce></app-okolica-miejsce>

    <app-okolica-miejsce  [imgIsLeft]='false'
    name='Szczyty'
    backgroundImage='assets/images/Okolica/paproc2-min.jpg'
    czas='10'
    opis='{{szczyty}}'></app-okolica-miejsce>

    <app-okolica-miejsce
    name='Wieliczka'
    backgroundImage='assets/images/Okolica/wieliczka1-min.jpg'
    czas='50'
    opis='{{wieliczka}}'></app-okolica-miejsce>

    <app-call-to-action-phone></app-call-to-action-phone>

    <app-okolica-miejsce  [imgIsLeft]='false'
    name='Zakopane'
    backgroundImage='assets/images/Okolica/zakopane-min.jpg'
    czas='75'
    opis='{{zakopane}}'></app-okolica-miejsce>

    <app-okolica-miejsce 
    name='Stacje narciarskie'
    backgroundImage='assets/images/Okolica/limanowaski2-min.jpg'
    czas='10'
    opis='{{stacje}}'></app-okolica-miejsce>

    <app-okolica-miejsce  [imgIsLeft]='false'
    name='Rabkoland'
    backgroundImage='assets/images/Okolica/rabkoland1-min.jpg'
    czas='40'
    opis='{{rabkoland}}'></app-okolica-miejsce>
    
    <app-call-to-action-mail></app-call-to-action-mail>
    
    <app-okolica-miejsce 
    name='Szaflary'
    backgroundImage='assets/images/Okolica/szaflary-min.jpg'
    czas='55'
    opis='{{szaflary}}'></app-okolica-miejsce>
    
    <app-okolica-miejsce [imgIsLeft]='false'
    name='Nowy Sącz'
    backgroundImage='assets/images/Okolica/nowysacz-min.jpg'
    czas='30'
    opis='{{nowysacz}}'></app-okolica-miejsce>
    <app-okolica-miejsce
    name='Sankturaium'
    backgroundImage='assets/images/Okolica/pasierbiec-min.jpg'
    czas='10'
    opis='{{sankturium}}'></app-okolica-miejsce>
    <app-social-proof></app-social-proof>
</section>
