<section class="okolica">
    <div class="okolica__grid">
        <div class="okolica__grid--text">
            <h3 class="okolica__grid--text-heading-small">
                Okolica <br>
                Makowego Domu
            </h3>
            <h1 class="okolica__grid--text-heading-big">Miasta</h1>
            <h1 class="okolica__grid--text-heading-big">Atrakcje</h1>
            <h1 class="okolica__grid--text-heading-big">Szlaki</h1>
        </div>
        <div class="okolica__grid--photo-forest"></div>
        <div class="okolica__grid--photo-cracov"></div>
        <div class="okolica__grid--photo-wielicka"></div>
        <div class="okolica__grid--photo-mountain"></div>
        <div class="okolica__grid--photo-sanctuary"></div>
        <div class="okolica__grid--photo-nowysacz"></div>
        <div class="okolica__grid--photo-tower"></div>
    </div>
</section>
<app-call-to-action-phone></app-call-to-action-phone>
<app-okolica-gallery></app-okolica-gallery>
