@mixin center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin boxShadow {
    box-shadow: 0 1rem 3rem rgba(#000000, .3);
}

@mixin boxShadowHover {
    box-shadow: 0 .5rem 1.5rem rgba(#000000, .5);
}