<section class="site-parts">
    <div class="site-parts__wrapper">
        <div class="site-parts__element">
            <img class="site-parts__element--image" src="assets/images/apartament/salon-web-min.jpg" alt="">
            <div class="site-parts__element--box">
                <h1 class="site-parts__element--box-text">Apartament</h1>
                <a routerLink="/apartament">
                    <app-button buttonText="Przejdź" [isDark]="true"></app-button>
                </a>

                <!-- //<a class="site-parts__element--box-button">Przjedź</a> -->
            </div>
        </div>
        <div class="site-parts__element">
                <img *ngIf="isPhone" class="site-parts__element--image" src="assets/images/main-page/HomePageImage-min.jpg"
                alt="">
            <div class="site-parts__element--box">
                <h1 class="site-parts__element--box-text">Okolice</h1>
                <!-- <a class="site-parts__element--box-button">Przjedź</a> -->
                <a routerLink="/okolica">
                    <app-button buttonText="Przejdź" [isDark]="true"></app-button>
                </a>
            </div>
            <img *ngIf="!isPhone" class="site-parts__element--image" src="assets/images/main-page/HomePageImage-min.jpg"
                alt="">
        </div>
        <div class="site-parts__element">
            <img class="site-parts__element--image" src="assets/images/dlagosci/grill/grill2-min.JPG" onError="this.src='https://place-hold.it/2000x1000'" alt="">
            <div class="site-parts__element--box">
                <h1 class="site-parts__element--box-text">Atrakcje</h1>
                <!-- <a class="site-parts__element--box-button">Przjedź</a> -->
                <a routerLink="/atrakcje">
                    <app-button buttonText="Przejdź" [isDark]="true"></app-button>
                </a>
            </div>
        </div>
    </div>
</section>