<section class="site-parts">
    <div class="site-parts__wrapper">
        <div class="site-parts__element">
            <img class="site-parts__element--image" src="./../../../assets/images/apartament/salon-web.jpg" alt="">
            <div class="site-parts__element--box">
                <h1 class="site-parts__element--box-text">Apartament</h1>
                <app-button buttonText="Przejdź" [isDark]="true"></app-button>
                <!-- //<a class="site-parts__element--box-button">Przjedź</a> -->
            </div>
        </div>
        <div class="site-parts__element">
            <div class="site-parts__element--box">
                <h1 class="site-parts__element--box-text">Okolice</h1>
                <!-- <a class="site-parts__element--box-button">Przjedź</a> -->
                <app-button buttonText="Przejdź" [isDark]="true"></app-button>
            </div>
            <img class="site-parts__element--image" src="./../../../assets/images/HomePageImage.jpg" alt="">
        </div>
        <div class="site-parts__element">
            <img class="site-parts__element--image" src="./../../../assets/images/grill.JPG" alt="">
            <div class="site-parts__element--box">
                <h1 class="site-parts__element--box-text">Atrakcje</h1>
                <!-- <a class="site-parts__element--box-button">Przjedź</a> -->
                <app-button buttonText="Przejdź" [isDark]="true"></app-button>
            </div>
        </div>
    </div>
</section>
