@import "../../../sharedScss/variables";
@import "../../../sharedScss/mixins";

.site-parts {
    height: 200vh;
    background-color: $color-secondary;
    padding: 4rem 12rem;
    @include respond(tab-port) { 
        padding: 4rem 1rem;
    }

    &__wrapper {
        height: 100%;
        box-shadow: $my-box-shadow;
    }

    &__element {
        //border: 1px solid black;
        height: 33.333333%;
        background-image: $gradient-white;
        position: relative;

        display: grid;
        grid-template-columns: 1fr 1fr;

        &:not(:last-child){
            border-bottom: $my-border-bottom;
        }
        
        

        &--image {
            width: 100%;
            height: 100%;
            transition: transform .7s;
        }

        &:hover &--image {
            transform: scale(1.02);
            z-index: 2;
            box-shadow: 0 0 1rem 0 $color-black;
        }

        &--box {
            align-self: center;
            justify-self: center;
            text-align: center;
            

            &-text {
                font-size: $heading-h1-big;
                color: $color-text;
                margin: 2rem 0;
            }
        }
    }
}